body {
  left: 0;
  top: 0;
  color: aliceblue;
  background-image: url('./components/bg.jpg');
  background-size: cover; 
}

.hr {
  color: white;
}

.text-font {
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
}

.bg-circle {
  display: inline-block;
  height: 150px;
  width: 150px;
  border-radius: 50%; 
  border: 1px solid #fff;
}

.fit-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #000505;
}

.pro-div {
  width: 350px;
  height: 175px;
  transition: transform .2s;
}
.project-name{
  font-size: large;font-weight: 700;
  text-align: center;
  align-items: center;
}

.pro-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.read-more{
  text-align: center;
  align-items: center;
}
.pro-div:hover {
  transform: scale(1.1); 
  filter: brightness(40%);
}
.link p span {
  color: #faab34;
  cursor: pointer;
}
.nav-p li {
  padding: 10px;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}
.sofE{
  display: none;
}
@media screen and (max-width: 768px) {
  .text-font {
    font-size: 16px;
  }
  .footer {
    text-align: center;
  }
  .con p {
    width: 150px;
    height: 120px; 
  }
  .bg-circles {
    background-image: url('./profile.jpeg');
    margin-left: 100px;
    display: inline-block;
    height: 150px;
    width: 150px;
    border-radius: 50%; 
    border: 5px solid #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-circles::before {
    content: '';
    display: block;
    height: 100%;
    width: 0;
    margin-left: 50%;
}

.fit-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

  .logo-res{
    display: none;
  }
  .name{
    font-size: 24px;
  }
  .nav-p li {
    padding: 5px;
    font-size: 18px;
  }
  .my-name{
    display: none;
  }
  .sofE{
    display: block;
    font-size: 20px;
    margin-left: 90px;
  }
  .pro-div {
    width: 350px;
    height: 175px;
    transition: transform .2s;
  }
}

@media screen and (max-width: 480px) {
  .text-font {
    font-size: 12px;
  }
  .footer {
    text-align: center;
  }
  .con p {
    width: 150px;
    height: 120px; 
  }
  .bg-circles {
    background-image: url('./profile.jpeg');
    margin-left: 100px;
    display: inline-block;
    height: 150px;
    width: 150px;
    border-radius: 50%; 
    border: 5px solid #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-circles::before {
    content: '';
    display: block;
    height: 100%;
    width: 0;
    margin-left: 50%;
}

.fit-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

  .logo-res{
    display: none;
  }
  .name{
    font-size: 24px;
  }
  .nav-p li {
    padding: 5px;
    font-size: 18px;
  }
  .my-name{
    display: none;
  }
  .sofE{
    display: block;
    font-size: 20px;
    margin-left: 90px;
  }
  .pro-div {
    width: 350px;
    height: 175px;
    transition: transform .2s;
  }
}
.social-link {
  font-size: 40px;
  margin-right: 25px; 
}
.footer {
  margin-top: 30px;
  justify-content: space-between;
}

.follow img {
  margin-left: 10px;
  width: 40px;
  height: 30px;
}

.con p {
  width: 150px;
  height: 150px;
  border: 10px solid #f9f2f4;
  border-radius: 50%;
  background-color: #5b10cc !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.con p:nth-child(2) {
  margin-left: 30px;
}

.bar {
  background-color: #5b10cc !important;
}
