body {
  left: 0;
  top: 0;
  color: aliceblue;
  background-color: #000505;
  background-image: url('./components/bg.jpg');
  background-size: cover; 
}

.hr {
  color: white;
}

.bg-color {
  background-color: #000505;
}

.text-font {
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
}

.bg-circle {
  display: inline-block;
  height: 120px;
  width: 120px;
  border-radius: 50%; /* Use percentage for border-radius */
  border: 1px solid #fff; /* Shortened color code */
}

.fit-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pro-div {
  width: 300px;
  height: 175px;
  padding: 10px;
  transition: transform .2s;
}

.pro-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pro-div:hover {
  transform: scale(1.1); 
}





.slideshow-container {
  height: 175px;
  background-color: #cc104f;
  color: #f9f2f4;
  overflow-y: scroll;
  border: 1px solid #ccc;
  bottom: 50px;
}

.slides {
  width: 100%;
}

.slide {
  width: 100%;
  height: 200px; /* Adjusted height */
  cursor: pointer;
}

.slide a {
  text-decoration: none !important;
  color: white;
}

.link p span {
  color: #faab34;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .text-font {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .text-font {
    font-size: 12px;
  }
  .footer {
    text-align: center;
  }
  .con p {
    width: 150px;
    height: 120px; /* Adjusted height */
  }
}

.nav-p li {
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: gold
}
.nav-p Link:hover{
  color: #cc104f !important;
}

.footer {
  margin-top: 30px;
  justify-content: space-between;
}

.follow img {
  margin-left: 10px;
  width: 40px;
  height: 30px;
}

.con p {
  width: 150px;
  height: 150px;
  border: 10px solid #f9f2f4;
  border-radius: 50%;
  background-color: #cc104f;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.con p:nth-child(2) {
  margin-left: 30px;
}

.bar {
  background-color: #cc104f !important;
}
